@tailwind base;
@tailwind components;
@tailwind utilities;

.move_right{
    left:41%;
}

.slider_dots{
    right:-2.5rem;
    top:50%;
    transform:translateY(-50%);
}
.slider_dots button, .slider2-dots button{
    font-size:0;
    width:8px;
    height:8px;
    background:#A8A29E;
    border-radius:50%;
    outline:none;
}
.slider_dots li.slick-active button, .slider2-dots li.slick-active button{
    background:#FE7865;
    width:12px;
    height:12px;
}
.slider_dots ul{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.upto{
    position:relative;
}
/* this is for creating underline */
.upto:after{
    content:'';
    position:absolute;
    left:0;
    bottom:-1rem;
    height:4px;
    width:80%;
    background:#F52E17;
}
.sub-menu{
    max-height:0;
    overflow:hidden;
} 
.menu-trigger.is-open{
    color:#F52E17;
}
/* this is for hiding the submenu */
.menu-trigger.is-open + .sub-menu{
    max-height:100%;
    overflow:visible;
}
.box-1{
    position:relative;
    height:28rem;
}
.box-1 img{
    position:absolute;
    top:-5rem;
}
.box-4{
    position:relative;
    height:22rem;
    margin-top:18rem;
}
.box-4 img{
    position:absolute;
    top:-14rem;
    left:15%;
}
.box-5{
    position:relative;
    height:20rem;
    width:100%;
    margin-bottom:12rem;
}
.box-5 img{
    position:absolute;
    bottom:-8rem;
}
.agree_checkbox + label{
    display:block;
    height:24px;
    width:24px;
    background:#fff;
    position:relative;
    cursor:pointer;
    border-radius:50%;
}

.agree_checkbox + label:before{
    content:'';
    display:block;
    width:8px;
    height:8px;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    background:#fff;
    transform:translate(-50%, -50%);
    
}
.agree_checkbox:checked + label:before{
    background: #FE7865;
}
.slick-slide.slick-center .inner_box{
    padding:0 20px;
}
.slider2{
    margin-left:-50%;
    margin-right:-50%;
}
.slick-slide.slick-center .inner_box > div{
    padding:50px 0;
}
.slick-slide:not(.slick-center){
    margin-top:50px;
    margin-bottom:50px;
}
.slick-slider .inner_box .label,.slick-slider .inner_box .number{
    display:none;
}
.slick-slide.slick-center .inner_box .label,.slick-slide.slick-center .inner_box .number{
    display:block;
}
.slider2-dots{
    position:absolute;
    bottom:-20%;
    left:50%;
    transform:translateX(-50%);
}
.slider2-dots ul{
    display:flex;
    align-items:center
}
.slider2-dots ul li{
    margin-right:20px;
}

